version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: '/'
    schedule:
      interval: 'weekly'
    ignore:
      # reason https://github.com/actions/checkout/issues/664#issuecomment-3587010423
      - dependency-name: "actions/checkout"
        update-types: ["version-update:semver-major"]
