*.4ct
*.4tc
*.alg
*.aux
*.bbl
*.blg
*.brf
*.code
*.dvi
*.err
*.glo
*.gls
*.hp
*.idv
*.lo?
*.log
*.lot
*.out
*.tmp
*.toc
*.tpt
*.lbl
*.idx
*.ilg
*.ind
*.ps
*.xref
*.code
*.html
*.css
*.lg
ausarbeitung.pdf
graphics/*.pdf_tex
graphics/*svg-converted-to.pdf
