*~
*.*_latexmk
*.4ct
*.4tc
*.alg
*.aux
*.bak
*.bbl
*.blg
*.brf
*.code
*.css
*.dvi
*.err
*.glo
*.gls
*.html
*.hp
*.idx
*.idv
*.ilg
*.ind
*.lbl
*.lg
*.lo?
*.log
*.lot
*.out
*.ps
*.synctex
*.synctex.gz
*.thm
*.tmp
*.toc
*.tpt
*.xref
ausarbeitung.pdf
graphics/*.pdf_tex
graphics/*svg-converted-to.pdf
